*{
    margin:0px;
    padding:0px;
    font-family: arial;
}
.Navbar{
    height:189px;
    width:100%;
    position:fixed;
}
/* panel-1 */
.Panel-1{
    height:35px;
    width:100%;
    background-color: #283034;
    display:flex;
    justify-content: center;
    align-items: center;
}
.panelmain{
    width:200px;
    color:white;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    font-size:25px;
}
/* panel-2 */
.Panel-2{
    height:114px;
    padding:0px 15px;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}
.nav-logo{
    background-image: url("logo.png");
    background-size: cover;
    width:1400px;
    height:114px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navright{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:black;
    font-size:18px;
}
/* navright details */
.ac{
    border:none;
    font-size:17px;
    font-weight:100;
}
.button1{
    background-color: #EB8317;
    font-size:15px;
    font-weight:lighter;
    border-radius:5px;
    padding:0px 2px;
}
/* panel-3 */
.Panel-3{
    height:40px;
    width:100%;
    background-color: white;
    
}
.burgericon{
    width:15px;
    color:black;
    font-size: larger;
    padding:10px;

}

ul li{
    list-style-type: none;
    background-color: #283034;
    color:white;

}
ul li{
    padding:10px;

}
ul li:hover{
    background-color: white;
    color:black;

}
.Dropdown{
    display:none;
}

.Panel-3 .burgericon:hover .Dropdown{
    display:block;
    position:absolute;
} 


/* main */
.herosection{
    background-image: url("slide-10.jpg");
    background-size: cover;
    height:600px;
    width:100%;
}
/* main */
/* TIME TABLE */
.headingline{
    margin-top:40px;
    height:20px;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:55px;
    border:1px solid black;

}
.timetable{
    margin-top:30px;
    padding:15px;
}
/* new section */
.main{
    background-color: #f3f3f3;
    display:flex;
    justify-content: space-evenly;

}
.box1{
    height:400px;
    width:300px;
    background-color:white;
    border:1px solid black;
    margin-top:-40px;
}
.head{
    font-family:sans-serif;
    background-color:#03345f;
    color:white;
    font-size:26px;
    font-weight:700;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.img{
    border:1px solid black;
    height:160px;
    border-radius: 50%;
    text-align:center;
    margin-left:30px;
    margin-top:10px;
}
.princal{
    font-size:12px;
    padding:10px;

}
/* footer */
.footer1{
    height: 455px;
    width: 1342px;
    background-color: #2b8bbb;
    margin-top:30px;
}
.a{
    height:80px;
    width:350px;
    background-color: #07216d;
    color:white;
    font-size:15px;

}
.headingfooter{
    font-size:40px;
    color:white;
    font-family: cursive;
    margin-left:500px;
}
.hero4{
    display:flex;
    justify-content: center;
    margin-top:50px;
    gap:60px;
}
.b{
    height:300px;
    width:350px;
    background-size: cover;
    
    
}
.p{
    font-weight:500;
    font-size:20px;
    margin-top:-4px;
   
}
.write1{
    padding:10px 10px 5px;
}
.footer2{
    height:400px;
    width:1342px;
    background-color:#03345f;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-size:20px;
}
.last{
    background-color: #03345f;
    font-size:15px ;
    color:white;
}